# -------------------------------------------------------------------
# Logs & Debug files
# -------------------------------------------------------------------

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------------------------------------------------
# Dependencies & Build
# -------------------------------------------------------------------
# Node modules (Backend & Frontend)

node_modules

# Generated build files

dist
dist-ssr
/build
.vite
*.local
*.exe
*.ilk
*.obj
*.pdb

# -------------------------------------------------------------------
# Secrets & Environment variables
# -------------------------------------------------------------------

.env
.env.*

# -------------------------------------------------------------------
# IDE & OS Configuration files
# -------------------------------------------------------------------

.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
.vs/

# -------------------------------------------------------------------
# Test & Binary folders
# -------------------------------------------------------------------

FuckHugo/
x64/

# -------------------------------------------------------------------
# General files
# -------------------------------------------------------------------
*.txt
*.git
*.bkp
*.dtmp
*.pyc

# -------------------------------------------------------------------
# Sensitive project files
# -------------------------------------------------------------------
#src/assets/certificates
#src/assets/strings
#src/assets/keys
#src/assets/obfuscated

!orchestrator.exe
!orchestrator.txt
